<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      FoodBook
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>

        <ion-item>
          <ion-label fixed>Cuisine Type</ion-label>
          <ion-input [(ngModel)]="cuisineType" type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label fixed>Restaurant Name</ion-label>
            <ion-input [(ngModel)]="restaurant" type="text"></ion-input>
          </ion-item>
        
          <ion-item>
              <ion-label fixed>Description</ion-label>
              <ion-textarea [(ngModel)]="description" type="text" value=""></ion-textarea>
            </ion-item>
         
      </ion-list>
 <button ion-button (click)="takePhoto()"> Take Photo </button> 
 <button ion-button (click)="getPicture(0)">Show Album</button>  

<ion-card>
    <img [src]="captureDataUrl" *ngIf="captureDataUrl"/>
    <button ion-button (click)="upload()" *ngIf="captureDataUrl">Upload</button>
  </ion-card>
</ion-content>
